main.Landing {
	@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

	* {
		margin: 0;
		padding: 0;
	}

	height: 100vh;
	width: 100%;
	background-image: url("../assets/LandingBackground.svg");
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	background-attachment: fixed;
	// animation: disappear 1s ease-in-out 1s 1 forwards;
	// z-index: 1000;

	div.background {
		height: 100%;
		width: 100%;

		background: linear-gradient(90deg, #e6e6e6 33%, transparent 0%);

		display: grid;

		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		justify-items: center;

		img.logo {
			width: 60%;
			opacity: 0;
			animation: fadeLeft 1s ease-in-out 0s 1 forwards;
			transition: transform 300ms ease-in-out;
		}

		div.titles {
			font-family: Montserrat;
			margin-bottom: 15em;
			margin-right: 15em;

			* {
				opacity: 0;
			}

			h1 {
				font-size: 3em;
				font-weight: 500;
				animation: fadeRight 1s ease-in-out 0s 1 forwards;
				transition: transform 300ms ease-in-out;
				position: relative;
				height: 1.5em;

				@media screen and (max-width: 800px) {
					text-align: center;
				}

				@media screen and (max-width: 1200px) {
					height: 2em;
				}

				span {
					transition: transform 300ms ease-in-out, opacity 1.5s ease-in-out;
					width: max-content;

					@media screen and (max-width: 1200px) {
						width: auto;
					}

					&.hidden {
						position: absolute;
					}

					&.old {
						opacity: 1;
						position: absolute;
					}

					&.new {
						animation: fadeRight 1s ease-in-out 0s 1 forwards;
					}

					&:hover {
						opacity: 0;
					}
				}
			}

			h2 {
				font-size: 1.5em;
				font-weight: normal;
				margin-top: 2em;
				animation: fadeRight 1s ease-in-out 100ms 1 forwards;
				transition: transform 300ms ease-in-out;
			}

			h3 {
				font-size: 1em;
				font-weight: normal;
				margin-top: 0.8em;
				animation: fadeRight 1s ease-in-out 100ms 1 forwards;
				transition: transform 300ms ease-in-out;
				color: gray;
				text-align: right;
			}
		}
	}

	.clickButton {
		position: absolute;

		bottom: 3em;
		right: 3em;

		animation: opacity 1s ease-in-out 0s 1 forwards;
	}

	@keyframes opacity {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	@keyframes fadeLeft {
		from {
			opacity: 0;
			transform: translateX(-100%);
		}

		to {
			opacity: 1;
		}
	}

	@keyframes fadeRight {
		from {
			opacity: 0;
			transform: translateX(100%);
		}

		to {
			opacity: 1;
		}
	}

	@keyframes disappear {
		to {
			opacity: 0;
		}
	}

	@media (max-width: 800px) {
		font-size: 14px;

		div.background {
			background: linear-gradient(180deg, #e6e6e6 33%, transparent 0%);
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 1fr);
			gap: 3em;

			div.titles {
				margin-left: 2em;
				margin-right: 2em;
			}
		}

		.clickButton {
			bottom: 6em;
			right: 3em;
		}
	}
}
