.SingleElement {
	padding-top: 100%;
	width: 100%;
	position: relative;

	div.container {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		gap: 0;

		background-color: white;
		border-radius: 1em;
		border-color: transparent;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);

		justify-items: center;
		align-items: center;

		img {
			height: calc(100% - 4em);
			max-width: calc(100% - 2em);

			object-fit: scale-down;
			margin-top: 1em;
			margin-left: 1em;
			margin-right: 1em;
		}

		div.title {
			text-align: center;
			margin: auto;
			margin-top: 0.3em;
			margin-bottom: 0.3em;
		}
	}
}

main.UsefulLinksPage {
	background-color: #f0f0f0;
	background-image: url("../assets/home-backround.svg");
	min-height: 100vh;
	width: 100%;

	background-repeat: no-repeat;
	background-size: 60%;
	background-attachment: fixed;

	display: flex;
	justify-content: center;

	div.main-container {
		width: 80%;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
		grid-auto-rows: 1fr;
		gap: 4em;
		padding: 3em;
	}
}
