.SingleElement {
	margin: 1em;
	padding-top: 100%;
	width: 100%;
	position: relative;

	div {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}
