article.Article {
	@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

	display: grid;

	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;

	div.text {
		background-color: white;
		font-family: "Poppins", sans-serif;

		grid-column: 1 / 4;
		grid-row: 1 / 2;

		margin-top: 0.5em;
		margin-bottom: 1em;

		padding: 1em;

		h1 {
			font-weight: bold;
			font-size: 1.3em;
			margin: 0;
		}

		h2 {
			font-weight: normal;
			font-size: 0.8em;
		}
	}

	img {
		grid-column: 3 / 5;
		grid-row: 1 / 2;

		z-index: -1;

		justify-self: end;

		height: 100%;
	}
}
