@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.header-main {
	background-color: white;
	position: sticky;
	top: 0;
	width: 100%;
	max-height: 100vh;

	z-index: 999;
}

.header-mobile-menu span svg {
	height: 1em;
}

.header-logo-container {
	margin-right: auto;
	display: flex;
	justify-content: center;
}

.header-logo-text {
	margin-left: 0.5em;
	transition: max-width 300ms ease-in-out;
}

.header-logo-img {
	margin-left: 1em;
}

.header-hamburger {
	display: none;
}

.header-mobile-menu > span, .header-mobile-menu > br {
	display: none;
}

@media (max-width: 1050px) {
	.header-logo-text {
		max-width: 0;
	}
}

@media screen and (max-width: 920px) {
	.header-hamburger {
		display: inline;
	}

	.header-container span:not(.header-hamburger) {
		display: none;
	}

	.header-mobile-menu {
		padding-top: 25px;
		animation-name: header-menu-spawn;
		animation-duration: 300ms;
		transform-origin: top;
		overflow-y: scroll;
		max-height: calc(100vh - 5.5em);
	}

	.header-mobile-hidden {
		display: none;
	}

	.header-mobile-menu > span, .header-mobile-menu > br {
		display: inline-block;
		transition: transform 300ms ease-in-out;
	}

	span.header-rotated {
		display: inline-block;
		width: min-content;
		transform: rotate(180deg);
	}

	#header-nostri-siti {
		padding-top: 0;
	}
}

.header-container {
	background-color: white;
	height: 4em;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 25px;
}

.header-main span {
	line-height: 1em;
	user-select: none;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	transition: font-weight;
	transition: transform 300ms ease-in-out;
}

.header-main span:hover {
	user-select: none;
	cursor: pointer;
	font-weight: 700;
}

.header-hidden {
	display: none;
}

.header-menu {
	margin-top: 4px;
	box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.15);
	padding: 25px;
	animation-name: header-menu-spawn;
	animation-duration: 300ms;
	transform-origin: top;
}

.test {
	height: 2000px;
}

@keyframes header-menu-spawn {
	from {
		transform: scaleY(0);
	}
	to {
		transform: scaleY(1);
	}
}

.header-rotated {
	display: block;
	width: min-content;
	transform: rotate(180deg);
}

.header-spaced {
	margin-left: 25px;
}
