@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.header-main {
	background-color: white;
	position: sticky;
	top: 0;
	width: 100%;
	max-height: 100vh;

	z-index: 999;
}

.header-social-container {
	margin-left: 1em;
}

.header-social-icon {
	height: 1.2em;
	margin-left: 0.5em;
}

.header-ext-link {
	text-decoration: none;
	color: inherit;
}

.header-span-special {
	height: min-content;
}

.header-main p:not(:last-child) {
	margin: 0;
	margin-bottom: 1em;
}

.header-main p:hover {
	user-select: none;
	cursor: pointer;
	color: #011a9b;
}

.header-mobile-menu span svg {
	height: 1em;
}

.header-mobile-menu img {
	display: none;
}

.header-logo-container {
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.header-logo-text {
	margin-left: 0.5em;
	transition: max-width 300ms ease-in-out;
	cursor: pointer;
}

.header-logo-img {
	margin-left: 1em;
}

.header-hamburger {
	display: none;
}

.header-mobile-menu > span,
.header-mobile-menu > br,
.header-mobile-menu > p {
	display: none;
}

.header-container {
	background-color: white;
	height: 4em;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 25px;
}

.header-main span {
	line-height: 1em;
	user-select: none;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	transition: font-weight;
	transition: transform 300ms ease-in-out;
}

.header-main span:hover {
	user-select: none;
	cursor: pointer;
	color: #011a9b;
}

.header-hidden {
	display: none;
}

.header-menu {
	margin-top: 4px;
	box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.15);
	padding: 25px;
	padding-top: 1em;
	padding-bottom: 1em;
	animation-name: header-menu-spawn;
	animation-duration: 300ms;
	transform-origin: top;
	padding-left: 2.5em;
}

.test {
	height: 2000px;
}

@keyframes header-menu-spawn {
	from {
		transform: scaleY(0);
	}
	to {
		transform: scaleY(1);
	}
}

.header-rotated {
	display: block;
	width: min-content;
	transform: rotate(180deg);
}

.header-spaced {
	margin-left: 25px;
}

.header-link-container {
	margin-left: auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

@media (max-width: 1250px) {
	.header-logo-text {
		max-width: 0;
	}
}

@media screen and (max-width: 1080px) {
	.header-mobile-menu img {
		display: initial;
	}

	.header-social-container {
		text-align: right;
		margin-right: 25px;
	}

	.header-hamburger {
		display: inline;
	}

	.header-logo-text {
		max-width: fit-content;
	}

	.header-container span:not(.header-hamburger) {
		display: none;
	}

	.header-mobile-menu {
		padding-top: 25px;
		animation-name: header-menu-spawn;
		animation-duration: 300ms;
		transform-origin: top;
		overflow-y: scroll;
		max-height: calc(100vh - 5.5em);
	}

	.header-mobile-hidden {
		display: none;
	}

	.header-mobile-menu > span,
	.header-mobile-menu > br {
		display: inline-block;
		transition: transform 300ms ease-in-out;
	}

	.header-mobile-menu > p {
		display: flex;
		align-items: center;
	}

	span.header-rotated {
		display: inline-block;
		width: min-content;
		transform: rotate(180deg);
	}

	#header-nostri-siti {
		padding-top: 0;
	}

	.header-mobile-lastopen {
		padding-bottom: 25px;
	}

	.header-menu {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		margin-bottom: 1em;
	}

	.header-link-container {
		display: none;
	}
}
